auth_enabled: false
server:
  http_listen_port: 3100
  grpc_listen_port: 9096
common:
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory
schema_config:
  configs:
    - from: 2020-10-24
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h
storage_config:
  boltdb_shipper:
    active_index_directory: /loki/index
    cache_location: /loki/boltdb-cache
    shared_store: filesystem
  filesystem:
    directory: /loki/chunks
  compactor:
    working_directory: /loki/boltdb-compactor
    shared_store: filesystem
limits_config:
  reject_old_samples: true
  reject_old_samples_max_age: 168h
table_manager:
  retention_deletes_enabled: true
  retention_period: 168h
